---
server_name: "{{ synapse_base_domain }}"
pid_file: "/data/homeserver.pid"
web_client_location: "https://{{ synapse_web_client }}"
public_baseurl: "https://{{ synapse_public_name }}"

presence:
  enabled: true

allow_public_rooms_over_federation: false

ip_range_whitelist:
{% if synapse_ip_whitelist is defined and synapse_ip_whitelist %}
{% for ip in synapse_ip_whitelist %}
  - {{ ip }}
{% endfor %}
{% else %}
  []
{% endif %}

{% if synapse_domain_whitelist is defined and synapse_domain_whitelist %}
federation_domain_whitelist:
{% for domain in synapse_domain_whitelist %}
  - {{ domain }}
{% endfor %}
{% else %}
  []
{% endif %}

listeners:
  - port: 8008
    tls: false
    type: http
    x_forwarded: true
    bind_addresses: ['::', '0.0.0.0']
    resources:
      - names: [client, federation, media]
        compress: false

  - port: 8048
    tls: false
    type: http
    x_forwarded: true
    resources:
      - names: [federation, media]
        compress: false

retention:
  enabled: true
  default_policy:
   min_lifetime: 1d
   max_lifetime: 14d
  allowed_lifetime_min: 1d
  allowed_lifetime_max: 14d

media_retention:
    local_media_lifetime: 14d
    remote_media_lifetime: 14d

max_upload_size: 25M

{% if synapse_db_provider == 'sqlite3' %}
database:
  name: "sqlite3"
  args:
    database: "/data/homeserver.db"
{% endif %}
{% if synapse_db_provider == 'postgres' %}
database:
  args:
    cp_max: 10
    cp_min: 5
    database: {{ synapse_db_name }}
    host: {{ synapse_db_host }}
    password: {{ synapse_db_password }}
    port: {{ synapse_db_port }}
    user: {{ synapse_db_user }}
  name: psycopg2
  txn_limit: 0
{% endif %}


log_config: "/data/{{ synapse_public_name }}.log.config"

rc_message:
  per_second: 20000
  burst_count: 3
rc_login:
  address:
    per_second: 0.17
    burst_count: 3
  account:
    per_second: 0.17
    burst_count: 3
  failed_attempts:
    per_second: 0.17
    burst_count: 3
rc_joins:
  local:
    per_second: 2000
    burst_count: 10
  remote:
    per_second: 2000
    burst_count: 10
rc_invites:
  per_room:
    per_second: 2000
    burst_count: 10
  per_user:
    per_second: 2000
    burst_count: 5

enable_media_repo: true
media_store_path: "/data/media_store"
max_upload_size: "50M"

turn_uris:
  - turn:{{ synapse_turn_name }}:3478?transport=udp
  - turn:{{ synapse_turn_name }}:3478?transport=tcp
  - turns:{{ synapse_turn_name }}:5349?transport=tcp

{% if super_secret_turn_key is defined and super_secret_turn_key %}
turn_shared_secret: {{ super_secret_turn_key }}
{% endif %}
turn_user_lifetime: 86400
turn_allow_guests: false
enable_registration: false
{% if synapse_registration_shared_secret is defined and synapse_registration_shared_secret %}
registration_shared_secret: {{ synapse_registration_shared_secret }}
{% endif %}
registration_requires_token: false

enable_metrics: false

metrics_flags:
report_stats: true

{% if synapse_form_secret is defined and synapse_form_secret %}
form_secret: "{{ synapse_form_secret }}"
{% endif %}

signing_key_path: "/data/signing.key"

trusted_key_servers: []

password_config:
  enabled: {% if synapse_passwords_enabled | default(false) %}true{% else %}false{% endif %}

push:
  enable_push: {{ synapse_enable_push_notification }}
  http:
    push_url: "http://{{ synapse_ntfy_name }}"

encryption_enabled_by_default_for_room_type: all

user_directory:
    enabled: true

{% if synapse_enable_ssl %}
tls_certificate_path: "{{ synapse_ssl_cert }}"
tls_private_key_path: "{{ synapse_ssl_key }}"
{% endif %}
