---
server_name: "{{ synapse_base_domain }}"
pid_file: "/data/homeserver.pid"
web_client_location: "https://{{ synapse_web_client }}"
public_baseurl: "https://{{ synapse_public_name }}"

presence:
  enabled: true

allow_public_rooms_over_federation: false

ip_range_whitelist: []

listeners:
  - port: 8008
    tls: false
    type: http
    x_forwarded: true
    bind_addresses: ['::', '0.0.0.0']
    resources:
      - names: [client, federation, media]
        compress: false

  - port: 8048
    tls: false
    type: http
    x_forwarded: true
    resources:
      - names: [federation, media]
        compress: false

federation_domain_whitelist: []

retention:
  enabled: true
  default_policy:
   min_lifetime: 1d
   max_lifetime: 14d
  allowed_lifetime_min: 1d
  allowed_lifetime_max: 14d

media_retention:
    local_media_lifetime: 14d
    remote_media_lifetime: 14d

max_upload_size: 25M

database:
  name: "sqlite3"
  args:
    database: "/data/homeserver.db"

log_config: "/data/{{ synapse_public_name }}.log.config"

rc_message:
  per_second: 20000
  burst_count: 3
rc_login:
  address:
    per_second: 0.17
    burst_count: 3
  account:
    per_second: 0.17
    burst_count: 3
  failed_attempts:
    per_second: 0.17
    burst_count: 3
rc_joins:
  local:
    per_second: 2000
    burst_count: 10
  remote:
    per_second: 2000
    burst_count: 10
rc_invites:
  per_room:
    per_second: 2000
    burst_count: 10
  per_user:
    per_second: 2000
    burst_count: 5

enable_media_repo: true
media_store_path: "/data/media_store"
max_upload_size: "50M"

turn_uris:
- turns:{{ synapse_public_name }}?transport=udp
- turns:{{ synapse_public_name }}?transport=tcp
- turn:{{ synapse_public_name }}?transport=udp
- turn:{{ synapse_public_name }}?transport=tcp

turn_shared_secret: {{ synapse_turn_shared_secret }}

turn_allow_guests: false
enable_registration: false
registration_shared_secret: {{ synapse_registration_shared_secret }}
registration_requires_token: false

enable_metrics: false

metrics_flags:
report_stats: true

form_secret: "tocK:5AfR=MNIhi8oOWu=C.sVRv-0Wf=Q^=WIiZmSPr,Xqy-~Q"

signing_key_path: "/data/signing.key"

trusted_key_servers: []



password_config:
   enabled: {% if synapse_passwords_enabled | default(false) %}true{% else %}false{% endif %}

push:
  enable_push: true
  http:
    push_url: "http://{{ synapse_ntfy_name }}"

encryption_enabled_by_default_for_room_type: all

user_directory:
    enabled: true

federation_verify_certificates: true
trusted_key_servers:
  - server_name: "matrix.org"

tls_certificate_path: "{{ synapse_ssl_cert }}"
tls_private_key_path: "{{ synapse_ssl_key }}"
