[Unit]
Description=Docker Container for simple NGINX as Matrix Synapse Reverse Proxy
After=network.target docker.service
Requires=docker.service

[Service]
Restart=always
User={{ synapse_user }}
Group={{ synapse_user }}
ExecStartPre=-/usr/bin/docker stop --time=3 simple-nginx
ExecStartPre=-/usr/bin/docker rm -f simple-nginx
ExecStart=/usr/bin/docker run --rm \
  --name simple-nginx \
  --network matrix \
  -p 80:80 \
  -p 443:443 \
  -v /opt/nginx/nginx.conf:/etc/nginx/nginx.conf:ro \
  -v /opt/nginx/ssl/:/ssl/:ro \
  -v /opt/nginx/logs/:/logs/:rw \
  -v /opt/nginx/well-known:/usr/share/nginx/html/.well-known:ro \
  nginx:latest

ExecStop=/usr/bin/docker stop simple-nginx
ExecStopPost=-/usr/bin/docker rm -f simple-nginx

[Install]
WantedBy=multi-user.target
